@mixin font-face($font-family, $font, $font-weight, $font-style, $formats) {
  $fonts-folder: '../../fonts/';
  $src: null;

  @each $format in $formats {
    $font-path: '#{$fonts-folder}/#{$font-family}/#{$font}/#{$font}.#{$format}';
    $src: append($src, url(to-lower-case($font-path)) format(quote($format)), comma);
  }

  @font-face {
    font-weight: $font-weight;
    font-family: quote($font-family);
    font-style: $font-style;
    src: $src;
    font-display: swap;
  }
}
