mixin intro(data)
	- const className = attributes.class
	
	section(class=className)
		.container
			.row
				.col-12.col-md-9.col-lg-7.col-xl-6
					div(class=`${className}__text`)
						h1(class=`${className}__title`) Apartment ownership with no headache
						p(class=`${className}__description`)
							| Wide selection of lorem usce volutpat lectus justo, ut <br> suscipit felis congue ut.
							| Vivamus ut ultricies ante <br> dictum.